.intro {
  color: #ffffff;
  background-color: $color__black--lighter;
  position: relative;
  z-index: 10;
  padding-top: 96px;

  h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 0;
  }
}

.intro__container {
  position: relative;
  height: 100%;
  padding-bottom: 120px;
}

.intro__meta {
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;

  span {
    color: $color__gray-2;
  }

  strong {
    font-weight: 300;
    color: $color__green--light;
  }
}
