.footer {
  color: #a6adaf;
  width: 100%;
  padding: 48px 0 80px;
  font-weight: 300;
  background: $color__black--lighter;
}

.footer__block {
  margin-bottom: 20px;

  p {
    font-size: 12px;
    line-height: 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;

    a {
      color: #7a8688;
      text-decoration: none;
    }
  }
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__email {
  font-size: 20px;
  line-height: 16px;
  color: #7a8688;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__socials {
  color: #a6adaf;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;

  li {
    margin-right: 24px;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: inherit;

  border-radius: 50%;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  // svg {
  //   color: $color__black--lighter;
  //   max-width: 26px;
  //   max-height: 26px;
  //   transform: scale(0.7);
  //   transform-origin: center;
  // }

  &:hover {
    color: #ffffff;
    background-color: #a6adaf;
  }
}

.footer__blocks {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

.footer__about {
  font-size: 12px;
  line-height: 20px;

  a {
    font-size: 12px;
    line-height: 20px;

    color: $color__green;
  }
}

.footer__legal {
  font-size: 12px;
  line-height: 16px;
}

.footer__links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    a {
      font-size: 12px;
      line-height: 34px;
      color: #ffffff;
    }
  }
}

.footer__version {
  font-size: 12px;
}