@mixin header-underline($header-underline-color: $color__green) {
  @include bp(desktop-wide) {
    margin-bottom: 40px;
    padding-bottom: 24px;
  }

  position: relative;

  margin-bottom: 25px;
  padding-bottom: 15px;

  &::after {
    position: absolute;
    bottom: 0px;
    left: 0;

    display: block;

    width: 40px;
    height: 2px;

    content: "";

    background-color: $header-underline-color;
  }
}

@mixin header-underline-center($header-underline-color-center: $color__green) {
  @include header-underline($header-underline-color-center);

  &:after {
    right: 0;

    margin-right: auto;
    margin-left: auto;
  }
}
