.newsslider {
  position: relative;
  padding-bottom: 88px;
}

.newsslider .newsslider__swiper {
  position: relative;
  // position: static !important;
  padding-bottom: 20px !important;

  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  max-width: 1185px;

  & > div {
    align-items: stretch;
  }

  @include bp(desktop-large) {
    overflow: visible !important;
  }

  @include bp(desktop-wide) {
    max-width: 1456px;
  }

  :global {
    .swiper-wrapper {
      width: 100vw;
      // left: calc((100vw - 100%) / -2);
    }
  }
}

.new {
  h4 {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;

    @include bp(desktop-wide) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  img {
    object-fit: cover;
    margin-right: 32px;
    border-radius: 4px;

    @include bp(desktop-large) {
      width: 328px;
      height: 184px;
    }
  }
}

.new__meta {
  margin-bottom: 16px;

  span,
  strong {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 5%;
  }

  span {
    color: $color__gray-2;
  }

  strong {
    color: $color__green--light;
  }
}

.new__labels {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    color: $color__gray-2;
    font-size: 9px;
    line-height: 16px;
    padding: 0 4px;
    border: 1px solid rgba($color__gray-2, 0.3);
    border-radius: 4px;
    margin-right: 8px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
  }
}

.newsslider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsslider__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.new__text {
  max-width: 296px;
  margin-top: 28px;
}

.news__slide {
  cursor: pointer;
  height: auto;
  padding-right: 48px;
}

.new__tags {
  list-style: none;
  padding: 0;
  display: flex;

  li {
    color: $color__gray-2;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgba(154, 157, 153, 0.3);
    border-radius: 4px;
    margin-right: 8px;
  }
}
